/* BANNER */


div.banner {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.container-banner {
    display: flex;
    width: 80%;
    height: 350px;
    margin-bottom: 60px;
    color: #f1f1f1;
    border-radius: 24px;
    background-color: rgba(0,0,0, 0.85);

}

.img{
    opacity: 1;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    justify-content: center;

}

.box2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 8px;

}

/* GRÁFICO */

.banner-grafico {
    display: flex;
    justify-content: center;
    width: 100%;

}

.container-grafico {
    width: 80%;
    margin-bottom: 34px;
    
    border-radius: 24px;
    border: solid 1px black;
    background-color: white;
    
}

.titulo-grafico {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #f1f1f1;
    background-color: black;
    opacity: 0.85;
    border-top-left-radius: 24px;
    border-top-right-radius:24px ;
    
    border-bottom: solid 2px black;
}

.grafico {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 24px;
}
