body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
 

/* HEADER - COMEÇO */

.fundo {
    margin: auto;
    background-image: url(../img/camuflado.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* border: 3px solid purple; */
}

/* HEADER */

.header {
    display: flex;
    border-bottom: solid 3px darkgreen;

    color: white;
    background-color: black;
    height: 100%;
    opacity: 0.7;

}

.header .container{
    width: 100%;
    display: flex;
    height: 80px;
}

.titulo {
    display: flex;
    align-items: center;
}

.titulo img{
    width: 60px;
    height: 60px;
    margin-right: 12px;

}

.navBar {
    align-items: center;
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    width: 650px;
    justify-content: space-around;
}

.navBar a{
    color: #f1f1f1f1;
    font-weight: bold;
    text-decoration: none;
}

.register {
    width: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: black;
}

.sair {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    font-weight: bold;
    background-color: #f1f1f1f1;

    border-radius: 40px;
}

.sair:hover {
    cursor: pointer;
    opacity: 0.8;
}

.aqui {
    text-decoration: underline;
}

/* fim Header */

/* SCROLL BAR - COMEÇO */

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    background: darkgreen;
}