body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/camuflado.jpeg);   
    background-size: cover;
    overflow-x: hidden;
}



/* Meio */

.meio{
    justify-content: center;
    text-align: center;
    justify-items: center;
    display: grid;
    margin: 0;
    height: 60vh;

    
}

.container-meio {
    
    text-align: center;
    margin-top: 100px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 8px;
    background-color: black;
    opacity: 0.7;
    padding: 24px;
    margin-bottom: 12px;
    border-radius: 24px;
    

    /* border: solid 3px black; */
}

.meio-texto {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 500px;
    margin-bottom: 182px;

    /* border: solid 3px white; */
}

.btn-quiz, .btn-rank{
    display: flex;
    padding: 18px;
    text-decoration: none;
    background-color: #f1f1f1f1;
    color: black;
    height: 40px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.btn-quiz:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn-rank:hover {
    cursor: pointer;
    opacity: 0.7;
    
    
}



/* Meio com as perguntas*/

.container-quiz {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 24px;
}

.quiz {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 960px;
    height: auto;
    border: solid 2px darkgreen;
    border-radius: 24px;

    background-color: white;
    
}

.quiz .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 960px;
    border-bottom: solid 2px black;

}

.quiz .pergunta {
    padding-top: 20px;
    width: 700px;
    padding: 20px;
    height: 100px;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: bold;
  
}

input {
    width: 100px;
}

.respostas {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    font-size: 20px;

}

.resposta_esquerda {
    display: grid;
    float: left;
    width: 45%;
    height: 200px;

}

.resposta_direita {
    display: grid;
    width: 45%;
}

.inp_btn {
    height: 50px;
    width: auto;
    border: solid 0.5px black;
    border-radius: 40px;
    font-size: 18px;

    background-color: darkgreen;
    color: white;
}

.inp_btn:hover {
    border: solid 3px black;
    cursor: pointer;
}

.metricas {
    border-bottom: solid 2px black;
    padding-bottom: 12px;
    margin-bottom: 24px;
}


/* Resultados*/

.resultado {
    width: 100%;


}


.finalizar {
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 24px;
    
}

.finalizar a, .finalizar span{
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: darkgreen;    
    text-decoration: none;
    color: white;
    width: 150px;
    height: 35px;
    border-radius: 24px;
    border: solid 1px black;
}

.finalizar a:hover, .finalizar span:hover{
    cursor: pointer;
    opacity: 0.85;
}


/* RANKING */

.meio3{
    width: 100%;
}

.grafico {
    margin: 24px;
}
