body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 80vw;
    margin: auto;
    display: flex;
    /* border: 3px solid red; */
    
}
 

/* HEADER - COMEÇO */

.fundo {
    margin: auto;
    background-image: url(../assets/img/camuflado.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: px;
    /* border: 3px solid purple; */
}

/* HEADER */

.header {
    display: flex;
    border-bottom: solid 3px darkgreen;

    color: white;
    background-color: black;
    height: 100%;
    opacity: 0.7;

    margin-bottom: 32px;

}

.header .container{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.titulo {
    display: flex;
    align-items: center;
    
    /* border: 3px solid blue; */
}

.titulo img{
    width: 60px;
    height: 60px;
    margin-right: 12px;
    opacity: 1;
}

.navBar {
    align-items: center;
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 560px;
    justify-content: space-around;

    /* border: 3px solid aqua; */
}

.navBar a, .register a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* 2 parte da navBar contendo o register(login + cadastro)*/

.register {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 300px;
    list-style: none;
    justify-content: space-evenly;

    /* border: 3px solid darkred; */
}

.cadastrar, .cadastrar a, .info-cadastrar a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    width: 150px;
    height: 40px;
}

.cadastrar:hover, .meio-texto:hover, .login:hover{
    opacity: 0.7;
}

/* fim Header */

/* BANNER - COMEÇO */

.meio{
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    display: grid;
    margin: 0;
    width: 100vw;
    height: 85vh;

}

.container-meio {
    
    text-align: center;
    margin-top: 100px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 8px;

    /* border: solid 3px black; */
}

.linha {
    margin-bottom: 70px;
    margin-left: 10%;
    margin-right: 10%;
    width: 1200px;
    background-color: black;

    border: solid 1.5px black;
}

.meio-texto {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 500px;
    margin-bottom: 182px;

    /* border: solid 3px white; */
}

.cadastro{
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    width: 200px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    display: flex;

}


/* BANNER - FIM */


/* SOCIAL - COMEÇO */

.social {

    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/camuflado.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.social .container h4{
    font-weight: lighter;
}

.parte1 {
    display: flex;
    color: black;
    opacity: 0.85;
    background-color: white;
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.parte1 .container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.parte2 {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    opacity: 0.85;
}

.parte2 .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.parte3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: white;
    opacity: 0.85;
    color: black;
    
}

.parte3 .container {
    justify-content: space-between;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 33%;
}

.box2 {
    display: flex;
    align-items: center;
}

#greenhouse {
    width: 650px;
}

#profit {
    width: 650px;
}

/* SOCIAL - FIM */

/* FOOTER - COMEÇO */

.footer{
    background-color: black;
    width: 100%;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
    height: 70px;
}

.footer .texto1 {
    color: #ff841b;

}

/* SCROLL BAR - COMEÇO */

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    background: darkgreen;
}

.social-info {
    background-color: white;
    opacity: 0.85;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 80px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.info-cadastrar a{
    background-color: darkolivegreen;
    border-radius: 24px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.info-cadastrar:hover{
    opacity: 0.8;
}

